<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./flexboxgrid.css">
  <link rel="stylesheet" href="./master.css">
</head>

<body>
  <div id="root">
    <div class="row">
      <div class="left-side col-lg-4 col-md-4 col-sm-4 col-xs-12 left-side">
        <div class="row">
          <div class="mio-profilo col-lg-12 col-md-12 col-sm-12 col-xs-12 flex middle space-between">
            <div class="help-mio-profilo flex middle space-between">
              <div class="mio-avatar">
                <img src="./img/avatar_5.jpg" alt="">
              </div>
              <div class="icon-nav flex space-between ">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="line-help">
            </div>
          </div>
          <div class="ul-overflow">
            <div class="input-txt col-lg-12 col-md-12 col-sm-12 col-xs-12 flex center middle">
              <div class="wrapper-search-input middle center flex">
                <span><i class="fas fa-search"></i></span>
                <input type="text" name="" value=""
                v-model="cercaTxt" @keyup.enter="cerca"
                placeholder="Cerca chat">
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <ul>
                <li class="flex middle"
                v-for="(contact, i) in contacts"
                v-if="contact.name.toLowerCase().includes(cercaTxt.toLowerCase())"
                @click="visualizza_avatar(i); visualizza_name(i)">
                  <img :src="`./img/avatar${contact.avatar}.jpg`" width="40" alt="">{{contact.name}}
                </li>
              </ul>
            </div>{
          </div>
        </div>
      </div>


      <!-- right-side -->
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 right-side">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profilo-interlocutore flex space-between">

          <div class="img-interlocutore">
            <img :src="`./img/avatar${visualizza_avatar(index)}.jpg`" width="40" alt="">{{visualizza_name(index)}}
          </div>

          <div class="right-menu-interlocutore flex space-between">
            <div><i class="fas fa-search"></i></div>
            <div><i class="fas fa-ellipsis-v"></i></div>
          </div>
        </div>


        <!-- effetiva-messaggistica  -->
        <div class="effetiva-messaggistica col-lg-12 col-md-12 col-sm-12" id="scroll-auto">
          <div class="right-messages ">
            <div class="message clearfix col-lg-12" v-for="message in contacts[index].messages"  :class="message.status">
              <div class="box-msg clearfix">
                <div class="msg">{{message.text}}</div>
                <div class="date">{{formatDate(message.date)}}</div>
                <div class="chevron-down">
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="cancella-messaggio">
                   <span>Message info</span>
                   <span>Delete message</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- casella-messaggio         -->
        <div class="col-lg-12 col-md-12 col-sm-12 casella-messaggio flex middle center space-between">
          <div class="emoji flex space-between">
            <i class="fas fa-grin"></i>
            <i class="fas fa-paperclip"></i>
          </div>
          <div class="input-casella-messaggio flex middle center">
            <input type="text" name="" value=""
            v-model="inputTxt" @keyup.enter="inserisciMsg"
             placeholder="Scrivi un messaggio">
          </div>
          <div class="right-microphone">
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>



  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>

</html>
