/*
start, center, end, around, between
top, middle, bottom
first, last
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

div.left-side {
  background-color: rgb(19, 28, 33);
  border-right: 1px solid rgb(48, 56, 61);
  height: 100vh;
}

div.right-side {
  /* border: 1px solid lightgrey; */
}

.mio-profilo {
  height: 60px;
  background-color: rgb(42, 47, 50);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.mio-profilo .mio-avatar img {
margin: 0 20px;
width: 40px;
border-radius: 100px;
}

.mio-profilo .icon-nav {
  padding: 0 15px;
}

.mio-profilo .icon-nav i {
font-size: 22px;
  color: rgb(177, 179, 181);
  margin: 0 15px;
}


.left-side .input-txt {
  position: relative;
  height: 49px;
  background-color: rgb(19, 28, 33);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.wrapper-search-input {
  padding-left: 50px;
  background-color: rgb(50, 55, 57);
  border-radius: 100px;
  width: 95%;
  height: 30px;
}

.left-side .input-txt input {
  width: 95%;
  height: 65%;
  background-color: rgb(50, 55, 57);
  color: white;
  outline: none;
  caret-color: white;
}

.left-side .input-txt input ::placeholder {
  color: rgb(114, 118, 121);
}

.left-side .input-txt span {
  font-size: 15px;
  color: rgb(114, 118, 121);
  top: 17px;
  left: 30px;
  position: absolute;
}

.left-side ul li {
  color: rgb(201, 203, 205);
  height: 72px;
  border-bottom: 1px solid rgb(48, 56, 61);
  background-color: rgb(19, 28, 33);
}

.left-side ul li img {
  margin: 0 10px;
  border-radius: 100px;
  width: 40px;
}

.left-side ul li:hover {
  background-color: rgb(50, 55, 57);
}

/* right-side */
/* right-side */
/* right-side */
.right-side .profilo-interlocutore {
  height: 60px;
  background-color: rgb(42, 47, 50);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.right-side .effetiva-messaggistica {
  height: calc(100vh - 60px - 70px);
  background-image: url('./img/mine.jpg');
}

.right-side .casella-messaggio {
  background-color: rgb(42, 47, 50);
  height: 70px;
  border-top: 1px solid rgb(48, 56, 61);
}
