/*
start, center, end, around, between
top, middle, bottom
first, last
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 28, 33);
}

div.left-side {
  background-color: rgb(19, 28, 33);
  border-right: 1px solid rgb(48, 56, 61);
  height: 100%;
}

div.left-side.display-none {
  display: none;
}

div.right-side {
  display: none;
}

div.right-side.display-block {
  display: block;
}

.mio-profilo {
  padding-left: 20px;
  height: 60px;
  background-color: rgb(42, 47, 50);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.mio-profilo .mio-avatar img,
.right-side .profilo-interlocutore img {
  cursor: pointer;
  width: 40px;
  border-radius: 100px;
}

.mio-profilo .icon-nav {
  flex-basis: 88px;
  flex-shrink: 0;
}

.mio-profilo .icon-nav i {
  cursor: pointer;
  font-size: 22px;
  color: rgb(177, 179, 181);
}

.left-side .input-txt {
  position: relative;
  height: 49px;
  background-color: rgb(19, 28, 33);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.left-side .lastAccess .time {
  font-size: 14px;
}

.left-side .lastAccess .time span {
  font-size: 11px;
}

.wrapper-search-input {
  padding-left: 50px;
  background-color: rgb(50, 55, 57);
  border-radius: 100px;
  width: 95%;
  height: 30px;
}

.left-side .input-txt input {
  width: 95%;
  height: 65%;
  background-color: rgb(50, 55, 57);
  color: white;
  outline: none;
  caret-color: white;
}

.left-side .input-txt input ::placeholder {
  color: rgb(114, 118, 121);
}

.left-side .input-txt span {
  font-size: 15px;
  color: rgb(114, 118, 121);
  top: 17px;
  left: 30px;
  position: absolute;
}

.left-side .ul-overflow {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  width: 100%;
}

.left-side ul li {
  color: rgb(201, 203, 205);
  height: 72px;
  border-bottom: 1px solid rgb(48, 56, 61);
  background-color: rgb(19, 28, 33);
}

.left-side ul li img {
  margin: 0 20px;
  border-radius: 100px;
  width: 40px;
}

.left-side ul li:hover {
  background-color: rgb(50, 55, 57);
}

/* right-side */
/* right-side */
/* right-side */
.right-side .go-back {
  left: 10px;
  position: absolute;
  padding: 5px 10px;
  font-size: 30px;
  color: white;
  margin-right: 10px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}

.right-side .go-back:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: lightgrey;
}

.right-side .profilo-interlocutore {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(42, 47, 50);
  border-bottom: 1px solid rgb(48, 56, 61);
}

.right-menu-interlocutore {
  font-size: 22px;
  color: rgb(177, 179, 181);
  flex-basis: 54px;
  flex-shrink: 0;
}

.img-interlocutore {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(201, 203, 205);
}

.img-interlocutore img {
  margin-right: 20px;
}

.img-interlocutore .lastAccess {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.img-interlocutore .lastAccess .time {
  font-size: 14px;
}

.img-interlocutore .lastAccess .time span {
  font-size: 11px;
}

.right-side .effetiva-messaggistica {
  position: relative;
  padding-top: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px - 62px);
  background-image: url('./img/mine.jpg');
}

.right-side .casella-messaggio {
  background-color: rgb(42, 47, 50);
  height: 62px;
  border-top: 1px solid rgb(48, 56, 61);
}

.input-casella-messaggio {
  background-color: rgb(50, 55, 57);
  border-radius: 100px;
  width: 75%;
  margin: 0 30px;
  height: 30px;
}

.input-casella-messaggio input {
  width: 95%;
  height: 65%;
  background-color: rgb(50, 55, 57);
  color: white;
  outline: none;
  caret-color: white;
}

.emoji {
  margin-left: 30px;
  flex-basis: 75px;
  font-size: 22px;
  color: rgb(177, 179, 181);
}

.right-microphone {
  cursor: pointer;
  margin-right: 30px;
  font-size: 22px;
  color: rgb(177, 179, 181);
}

.effetiva-messaggistica .sent {
  width: 100%;
  position: relative;
}

.effetiva-messaggistica .sent div {
  float: right;
  border-radius: 7px;
  color: white;
  background-color: rgb(5, 97, 98);
}

.effetiva-messaggistica .received {
  width: 100%;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}

.effetiva-messaggistica .received div {
  border-radius: 7px;
  float: left;
  color: white;
  background-color: rgb(38, 45, 49);
}

i {
  cursor: pointer;
}

.left-side ul li {
  cursor: pointer;
}

.message {
  margin-top: 10px;
}

.active {
  display: block;
}

.effetiva-messaggistica .sent .box-msg {
  position: relative;
}

.box-msg {
  margin: 20px;
  padding: 10px;
  padding-right: 40px;
}

.effetiva-messaggistica .received .box-msg {
  position: relative;
}

.effetiva-messaggistica .date {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 3px;
}

.box-msg:hover {
  cursor: pointer;
}

.chevron-down {
  padding: 10px;
  display: none;
}

.box-msg:hover .chevron-down {
  display: block;
}

.message.sent .chevron-down {
  position: absolute;
  right: 0;
  top: 0;
}

.message.received .chevron-down {
  position: absolute;
  right: 0;
  top: 0;
}

.cancella-messaggio span {
  padding-bottom: 5px;
}

.cancella-messaggio span:hover {
  color: lightgrey;
}

.message.received .cancella-messaggio {
  z-index: 100;
  box-shadow: 0px 0px 13px 1px;
  visibility: hidden;
  position: absolute;
  top: 28px;
  right: -98px;
  width: 125px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.message.received .cancella-messaggio.active {
  visibility: visible;
}

.message.sent .cancella-messaggio {
  z-index: 100;
  box-shadow: 0px 0px 13px 1px;
  visibility: hidden;
  display: none;
  position: absolute;
  top: 28px;
  right: 6px;
  width: 125px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.message.sent .cancella-messaggio.active {
  visibility: visible;
}

/* media query */
/* media query */
/* media query */
@media all and (min-width: 576px) {
  .right-side .profilo-interlocutore {
    padding-left: 30px;
  }

  .go-back {
    display: none;
  }

  div.right-side {
    display: block;
  }

  div.left-side.display-none {
    display: block;
  }
}

@media all and (min-width: 768px) {}

/* scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(42, 47, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(38, 38, 37);
  border-radius: 10px;
}

.line-help {
  height: 100%;
  width: 10px;
  border-left: 1px solid rgb(48, 56, 61);
}

.help-mio-profilo {
  width: 100%;
  margin-right: 10px;
}
